@import '../../variable.scss';

.mobileModel {
  &_container {
    height: 100%;
    width: 100%;
    border-left: $secondaryGray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
