@import '../../variable.scss';

.navContainer {
  display: flex;
  height: 100%;
  width: 100%;
}

.sidebar {
  width: 60px;
  height: 100vh;
  color: rgb(214, 132, 132);
  border-right: 1px solid $black20;
  background-color: #ffffff;
  &_logo {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &_content {
    height: calc(100% - 60px);
    display: flex;
    align-items: flex-end;
    justify-content: center;
    &_inner {
      height: fit-content;
    }
  }
}

.navbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: left;
  align-items: center;
  border-bottom: 1px solid $black20;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
  &_list {
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0px;
    border: 1px solid $black20;
    border-left-width: 0px;
    &_li {
      min-height: 100%;
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0px 10px;
    }
    &_btn {
      text-decoration: none;
      color: #000000;
    }
  }
}
.logo_icon {
  position: absolute;
  left: 15px;
  & svg {
    width: 30px;
  }
}
.li-active {
  border-bottom: 2px solid $black100;
}

.appContent {
  position: absolute;
  top: 60px;
  height: calc(100vh - 60px);
  width: 100vw; /* calc(100vw - 70px); */
}
