@import '../../variable.scss';

.card {
  width: 100%;
  height: 150px;
  background-color: #ffffff;
  border-radius: 5px;
  margin: 15px 0px;
  display: flex;
  box-shadow: 0px 3px $thirdGray;
  &_drag {
    width: 10%;
    min-width: 10%;
    height: 100%;
    cursor: grab;
    display: flex;
    justify-content: center;
    align-items: center;
    &_icon {
      fill: $thirdGray;
    }
    &_icon > div > svg {
      width: 40px;
    }
  }
  &_content {
    width: 90%;
    min-width: 90%;
    height: 100%;
    border-left: 1px solid $thirdGray;
    display: flex;
    justify-content: center;
    align-items: center;
    &_left {
      width: 75%;
      height: 90%;
      overflow: hidden;
      white-space: nowrap; /* Don't forget this one */
      text-overflow: ellipsis;
      &_up {
        height: 60%;
        display: flex;
        align-items: center;
      }
      &_down {
        height: 40%;
        display: flex;
        align-items: center;
      }
    }
    &_right {
      width: 15%;
      height: 90%;
      &_up {
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
      &_down {
        height: 70%;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
      }
    }
    &_trash {
      height: 40px;
    }
    &_trash > div > svg {
      width: 25px;
      height: 25px;
      fill: $fourthGray;
      cursor: pointer;
    }
  }
  &_link {
    color: #000000;
    text-decoration: none;
    max-width: 50px;
  }
}
.card-ul {
  list-style: none;
  padding: 0;
  margin: 0px;
  &_li {
    margin: 5px 0px;
    &_title {
      cursor: text;
      border: 0px;
      outline: none;
      font-size: large;
      font-weight: 600;
    }
    &_url {
      cursor: text;
      border: 0px;
      outline: none;
      font-size: medium;
    }
  }
}
.contentIcon > div > svg {
  fill: $fourthGray;
  height: 20px;
  width: 20px;
  cursor: pointer;
  &_checked {
    fill: $primaryGreen;
  }
}
.contentIcon {
  margin-right: 10px;
}
.checked > div > svg {
  fill: $primaryGreen;
}

/* The switch - the box around the slider */
.switch {
  width: 40px;
  height: calc(40px * 0.566);
  cursor: pointer;
  border-radius: 34px;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition-duration: 0.3s;
  transition-property: all;

  -webkit-transition: 0.3s;
  transition: 0.3s;
  &_active {
    width: 40px;
    height: calc(40px * 0.566);

    cursor: pointer;
    border-radius: 34px;
    background-color: #ccc;
    background-color: $primaryGreen;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition-duration: 0.3s;
    transition-property: all;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}

/* The slider */
.slider {
  width: 19px;
  height: 19px;
  cursor: pointer;
  margin: 0px 2px 1px 2px;
  background-color: #ffffff;
  border-radius: 50%;
}
