@import '../../variable.scss';

.colorBox {
  &_container {
    max-height: 80%;
    padding: 5%;
    border-radius: 5px;
    display: grid;
    gap: 1rem;
    /* grid-auto-rows: 30px; */
    grid-template-columns: repeat(auto-fill, minmax(3rem, 1fr));
    background: $black10;
    overflow: scroll;
  }
  &_btn {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border-width: 2px;
    border-color: $black100;
    cursor: pointer;
  }
}
