$blue100: #061343;
$blue90: #071f80;
$blue80: #052fac;
$blue70: #064ada;
$blue60: #0361ff;
$blue50: #428cff;
$blue40: #6da7ff;
$blue30: #97c1ff;
$blue20: #c9deff;
$blue10: #edf4ff;

$black100: #000000;
$black90: #161616;
$black80: #262626;
$black70: #393939;
$black60: #525252;
$black50: #6f6f6f;
$black40: #8d8d8d;
$black30: #a8a8a8;
$black20: #c6c6c6;
$black10: #e0e0e0;
$black00: #f4f4f4;

$primaryRed: #d91e27;

$primaryOrange: #ff832b;

$primaryYellow: #fddb6a;

$primaryGreen: #1a8038;
